form {
  background-color: #fff;
  height: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: 10px;

  .search-text {
    display: flex;
    width: 100%;
  }

  input {
    all: unset;
    color: #1d1d1b;
    padding: 6px 10px;
    flex: 1;
    width: 100%;

    &::placeholder {
      color: #1d1d1b;
      opacity: 0.7;
    }
  }

  button {
    cursor: pointer;
    background: #bb1e1e;
    border-radius: 6px;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    border: none;
  }

  .icon-search {
    height: 40%;
    padding: 10px 5px;
    padding-left: 10px;
  }

  .srchButton {
    cursor: pointer;
    background: #bb1e1e;
    border-radius: 6px;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
  }
}

@media (max-width: 900px) {
  form {
    width: 145%;
  }
}

@media (max-width: 767px) {
  form {
    width: 100%;
    button {
      display: none;
    }
  }
}
